In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
df = pd.read_csv('/Users/sl/Downloads/my_df.csv', index_col=0)

In [11]:
df

          Quantity   Color  Price_per_kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             4
Dates           10   Brown             5

In [12]:
df['Quantity'].sum()

75

In [13]:
print(df.nlargest(3, 'Price_per_kg'))

          Quantity  Color  Price_per_kg
Dates           10  Brown             5
Cherries        15    Red             4
Apples          20    Red             3

In [14]:
df.tail(2)

          Quantity  Color  Price_per_kg
Cherries        15    Red             4
Dates           10  Brown             5

In [15]:
df.describe()

        Quantity  Price_per_kg
count   4.000000      4.000000
mean   18.750000      3.500000
std     8.539126      1.290994
min    10.000000      2.000000
25%    13.750000      2.750000
50%    17.500000      3.500000
75%    22.500000      4.250000
max    30.000000      5.000000

In [16]:
df.loc['Bananas']

Quantity            30
Color           Yellow
Price_per_kg         2
Name: Bananas, dtype: object

In [17]:
df['Price_per_kg']*0.9

Apples      2.7
Bananas     1.8
Cherries    3.6
Dates       4.5
Name: Price_per_kg, dtype: float64

In [18]:
df.rename(columns={'Price_per_kg': 'ORIGINAL_PRICE'}, inplace = True)

In [19]:
df

          Quantity   Color  ORIGINAL_PRICE
Apples          20     Red               3
Bananas         30  Yellow               2
Cherries        15     Red               4
Dates           10   Brown               5

In [20]:
df.drop('Color', axis = 1, inplace = True)

In [21]:
df

          Quantity  ORIGINAL_PRICE
Apples          20               3
Bananas         30               2
Cherries        15               4
Dates           10               5

In [27]:
df['Quantity'].dtype

dtype('int64')

9. Calculate the following:

- The total quantity of all fruits.

- The name and quantity of the fruit with the highest quantity.

- The name and quantity of the fruit with the lowest quantity.

- The average original price per kg of fruits.

Hint: For the second and third bullet points, consider using the idxmax() or idxmin() functions, or boolean indexing.

In [28]:
df['Quantity'].sum()

75

In [29]:
df.nlargest(1, 'Quantity')

         Quantity  ORIGINAL_PRICE
Bananas        30               2

In [30]:
df['Quantity'].idxmax()

'Bananas'

In [31]:
df['Quantity'].idxmin()

'Dates'