In [1]:
import pandas as pd

In [2]:
import numpy as np

READ THE DATAFRAME

In [3]:
# Sample DataFrame
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 32, 22, 35, 47],
    "Score": [85, 63, 77, 96, 54]
})

In [4]:
# Head
# Returns the first 3 rows of the DataFrame

print(df.head(3))

      Name  Age  Score
0    Alice   25     85
1      Bob   32     63
2  Charlie   22     77

In [5]:
# Tail
# Returns the last 3 rows of the DataFrame

print(df.tail(3))

      Name  Age  Score
2  Charlie   22     77
3    David   35     96
4      Eve   47     54

In [6]:
# Info
# Provides a summary of the DataFrame including the number of non-null entries in each column

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Score   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
None

In [9]:
# Describe
# Provides descriptive statistics of the DataFrame

print(df.describe())

             Age      Score
count   5.000000   5.000000
mean   32.200000  75.000000
std     9.782638  16.807736
min    22.000000  54.000000
25%    25.000000  63.000000
50%    32.000000  77.000000
75%    35.000000  85.000000
max    47.000000  96.000000