In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
pd.Series(['A', 'B', 'C'])
# Series - 1 dim array of labeled data

0    A
1    B
2    C
dtype: object

In [18]:
# Dataframe - 2 dim array of labelaed data
df  = pd.DataFrame({
    "Name": ["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random":[10.0, np.nan, np.nan]
})

In [23]:
df

     Name   Color  Random
0   Yossi     Red    10.0
1    Anna    Blue     NaN
2  Alexey  Yellow     NaN

In [22]:
df["Random"]

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [29]:
fruits_names = ["Apples", "Bananas", "Cherries", "Dates"]

my_df = pd.DataFrame({
    'Quantity': [20, 30, 15, 10]
    'Colors': colors,
    'Price_per_kg': prices_per_kg
    
} index = fruit_names)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (900611177.py, line 4)

In [30]:
fruits

      Friut  Count
0    Apples     20
1   Bananas     30
2  Cherries     15
3     Dates     10